<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style type="text/css">
        #todocontainer {
            margin-top: 50px;
        }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white" href="/">Home</a>
        <a class="navbar-brand text-white" href="/customers">Customers</a>
        <a class="navbar-brand text-white" href="/products">Products</a>
        <a class="navbar-brand text-white" href="/cart">Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</section>

<section id="todocontainer">
  <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
  <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">CODE</th>
          <th scope="col">NAME</th>
          <th scope="col">SURNAME</th>
          <th scope="col">EMAIL</th>
          <th scope="col">STREET</th>
          <th scope="col">N° STREET</th>
          <th scope="col">COMPLEMENT</th>
          <th scope="col">CEP</th>
          <th scope="col">CITY</th>
          <th scope="col">UF</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${customers}">
          <th scope="row" th:text=${client.code}></th>
          <td th:text=${client.name}></td>
          <td th:text=${client.surname}></td>
          <td th:text=${client.email}></td>
          <td th:text=${client.nameStreet}></td>
          <td th:text=${client.numberStreet}></td>
          <td th:text=${client.complement}></td>
          <td th:text=${client.cep}></td>
          <td th:text=${client.city}></td>
          <td th:text=${client.uf}></td>
          <td>
            <div class="form-group">
              <a style="z-index: 10; position: absolute" th:href="@{/customers/edit?code={id}(id=${client.code})}" class="btn btn-success btn-sm text-white">EDIT</a>
            </div>
          </td>
          <td>
            <form th:action="@{/customers/delete/{id}(id=${client.code})}" method="POST">
              <div style="z-index: 10; position: absolute" type="submit" class="form-group">
                <button class="btn btn-danger btn-sm text-white">DELETE</button>
              </div>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewModal">CREATE CLIENT</a>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!-- View Modal -->
  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form th:action="@{/customers/create}" method="POST" name="productForm">
            <div class="form-group">
              <label for="name">NAME</label>
              <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="surname">SURNAME</label>
              <input type="text" class="form-control" name="surname" placeholder="Surname">
            </div>
            <div class="form-group">
              <label for="email" >EMAIL</label>
              <input type="email" class="form-control" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
              <label for="nameStreet" >STREET</label>
              <input type="text" class="form-control" name="nameStreet" placeholder="Name Street" />
            </div>
            <div class="form-group">
              <label for="numberStreet" >N° STREET</label>
              <input type="number" class="form-control" name="numberStreet" placeholder="Number Street" />
            </div>
            <div class="form-group">
              <label for="complement" >COMPLEMENT</label>
              <input type="text" class="form-control" name="complement" placeholder="Complement" />
            </div>
            <div class="form-group">
              <label for="cep" >CEP</label>
              <input type="number" class="form-control" name="cep" placeholder="CEP" />
            </div>


            <div class="form-group">
              <label for="uf" >UF</label>
              <input type="text" class="form-control" name="uf" placeholder="UF" />
            </div>

            <div class="form-group">
              <label for="city" >CITY</label>
              <input type="text" class="form-control" name="city" placeholder="City" />
            </div>
            <button type="submit" class="btn btn-primary">SAVE</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html> q