html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

img {
    vertical-align: middle;
    padding: 8px 8px 0 0;
}

.navbar .navbar-top .input-top {
    border: 1px solid #7197ce;
}

.navbar-top {
    background: #FFFFFF;
    border-bottom: 4px solid #7197ce;
    color: #FFF;
}

.text-white {
    color: #fff;
}

.navbar-doublerow>.navbar {
    display: block;
    padding: 0px auto;
    margin: 0px auto;
    min-height: 25px;
}

.navbar .navbar-down {
    background: #4D5061;
}

.navbar-doublerow .navbar-down .navbar-brand {
    padding: 0px auto;
    float: left;
    color: #7197ce;
    font-size: 30px;
}

.navbar-doublerow .navbar-down ul>li>a {
    font-size: 15px;
    color: #FFF;
}

.navbar-doublerow .navbar-down ul>li>a:hover {
    border-bottom: 1px solid #7197ce;
    color: #7197ce;
}

.img-responsive {
    max-width: 100%;
}

.bg-dark {
    background-color: #444444;
}

.page-header {
    width: 100%;
    height: 50px;
    color: #FFF;
}

.page-header .logo {
    height: 100%;
}

.page-header .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-header .nav-menu .menu-item {
    float: left;
    display: block;
}

.page-header .nav-menu .menu-item a {
    padding: 15px;
    text-decoration: none;
    color: unset;
    display: block;
}

.page-header .nav-menu .menu-item:hover a {
    background-color: #CCC;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-banner {
    margin: 30px 0;
}

.page-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    max-width: 100%;
}

.page-grid .grid-column-4 {
    /*width: 33.333333%;*/
    width: calc(100% / 3);
    padding: 0 15px;
}

.page-grid .grid-column-6 {
    width: calc(100% / 2);
    padding: 0 15px;
}

.page-grid .grid-column-3 {
    width: calc(100% / 4);
    padding: 0 15px;
}

.page-grid .grid-column-12 {
    width: 100%;
    padding: 0 15px;
}

.display-card {
    box-shadow: 1px 2px 5px #ccc;
}

.display-card .display-body {
    padding: 15px;
}

.display-card .display-footer {
    text-align: right;
}

.page-footer {
    margin-top: 30px;
    width: 100%;
    padding: 20px 0;
}

.page-input {
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 10px;
}

.btn {
    border: none;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #000;
    padding: 8px 15px;
    cursor: pointer;
}