<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style type="text/css">
        #todocontainer {
            margin-top: 50px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white" href="/">Home</a>
        <a class="navbar-brand text-white" href="/customers">Customers</a>
        <a class="navbar-brand text-white" href="/products">Products</a>
        <a class="navbar-brand text-white" href="/cart">Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</section>


<section id="todocontainer" style="overflow-x: scroll">
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Complemento</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Número</th>
                    <th scope="col">EDIT</th>
                    <th scope="col">DELETE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                   <th scope="row" th:text=${customer.code}></th>
                    <td th:text=${customer.name}></td>
                    <td th:text=${customer.sobrenome}></td>
                    <td th:text=${customer.email}></td>
                    <td th:text=${customer.enderecos[0].rua}></td>
                    <td th:text=${customer.enderecos[0].complemento}></td>
                    <td th:text=${customer.enderecos[0].cidade}></td>
                    <td th:text=${customer.enderecos[0].estado}></td>
                    <td th:text=${customer.enderecos[0].cep}></td>
                    <td th:text=${customer.enderecos[0].numero}></td>
                    <td>
                        <div class="form-group">
                            <a th:href="@{/customers/edit?code={id}(id=${customer.code})}" class="btn btn-success btn-sm text-white">EDIT</a>
                        </div>
                    </td>
                    <td>
                         <form th:action="@{/customers/delete/{id}(id=${customer.code})}" method="POST">
                             <div class="form-group">
                                 <button type="submit" class="btn btn-danger btn-sm text-white">DELETE</button>
                             </div>
                         </form>
                     </td>
                 </tr>
            </table>
            </tbody>
         </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewModal">CREATE</a>
        </div>
         <div class="col-md-2"></div>
     </div>
     <!-- View Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/customers/create}" method="POST" name="customerForm">
                        <div class="form-group">
                            <label for="name">NAME</label>
                            <input type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="lastname">LAST NAME</label>
                            <input type="text" class="form-control" name="sobrenome" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" placeholder="Email">
                        </div>

                        <p>Endereço</p>

                        <div class="form-group">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" name="enderecos[0].rua" placeholder="Street">
                        </div>

                        <div class="form-group">
                            <label for="number">Number</label>
                            <input type="text" class="form-control" name="enderecos[0].numero" placeholder="Number">
                        </div>

                        <div class="form-group">
                            <label for="complement">Complement</label>
                            <input type="text" class="form-control" name="enderecos[0].complemento" placeholder="complement">
                        </div>

                        <div class="form-group">
                            <label for="cep">Cep</label>
                            <input type="text" class="form-control" name="enderecos[0].cep" placeholder="Cep">
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="enderecos[0].cidade" placeholder="City">
                        </div>

                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" class="form-control" name="enderecos[0].estado" placeholder="State">
                        </div>

                        <button type="submit" class="btn btn-primary">SAVE</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>