<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customers</title>
    <style type="text/css">
        #todocontainer {
            margin-top: 50px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white" href="/">Home</a>
        <a class="navbar-brand text-white" href="/customers">Customers</a>
        <a class="navbar-brand text-white" href="/products">Products</a>
        <a class="navbar-brand text-white" href="/cart">Cart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</section>

<section id="todocontainer">
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">CODE</th>
                    <th scope="col">NAME</th>
                    <th scope="col">SOBRENOME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">RUA</th>
<!--                    <th scope="col">NUMERO</th>-->
<!--                    <th scope="col">COMPLEMENTO</th>-->
<!--                    <th scope="col">CEP</th>-->
<!--                    <th scope="col">CIDADE</th>-->
<!--                    <th scope="col">ESTADO</th>-->
                    <th scope="col">EDIT</th>
                    <th scope="col">DELETE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <th scope="row" th:text=${customer.cod}></th>
                    <td th:text=${customer.nome}></td>
                    <td th:text=${customer.sobrenome}></td>
                    <td th:text=${customer.email} ></td>
                    <td th:text=${customer.rua} ></td>
<!--                    <td th:text=${customer.numero} ></td>-->
<!--                    <td th:text=${customer.complemento} ></td>-->
<!--                    <td th:text=${customer.cep} ></td>-->
<!--                    <td th:text=${customer.cidade} ></td>-->
<!--                    <td th:text=${customer.estado} ></td>-->
                    <td>
                        <div class="form-group">
                            <a th:href="@{/customers/edit?code={id}(id=${customer.cod})}" class="btn btn-success btn-sm text-white">EDIT</a>
                        </div>
                    </td>
                    <td>
                        <form th:action="@{/customers/delete/{id}(id=${customer.cod})}" method="POST">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-sm text-white">DELETE</button>
                            </div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <a class="btn btn-success btn-lg text-white" data-toggle="modal" data-target="#viewModal">CREATE</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- View Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/customers/create}" method="POST" name="customerForm">
                        <div class="form-group">
                            <label for="nome">NAME</label>
                            <input type="text" class="form-control" name="nome" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label for="sobrenome">SOBRENOME</label>
                            <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome">
                        </div>
                        <div class="form-group">
                            <label for="email">E-MAIL</label>
                            <input type="text" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="rua">RUA</label>
                            <input type="text" class="form-control" name="rua" placeholder="Rua">
                        </div>
                        <div class="form-group">
                            <label for="numero">NUMERO</label>
                            <input type="number" class="form-control" name="numero" placeholder="Numero">
                        </div>
                        <div class="form-group">
                            <label for="complemento">COMPLEMENTO</label>
                            <input type="text" class="form-control" name="complemento" placeholder="Complemento">
                        </div>
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" name="cep" placeholder="Cep">
                        </div>
                        <div class="form-group">
                            <label for="cidade">CIDADE</label>
                            <input type="text" class="form-control" name="cidade" placeholder="Cidade">
                        </div>
                        <div class="form-group">
                            <label for="estado">ESTADO</label>
                            <input type="text" class="form-control" name="estado" placeholder="Estado">
                        </div>
                        <button type="submit" class="btn btn-primary">SAVE</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>