<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Customers</title>
  <style type="text/css">
    #todocontainer {
      margin-top: 50px;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<section id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="/">Home</a>
    <a class="navbar-brand text-white" href="/customers">Customers</a>
    <a class="navbar-brand text-white" href="/products">Products</a>
    <a class="navbar-brand text-white" href="/cart">Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</section>
<section id="todocontainer">
  <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
  <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form th:action="@{/customers/edit}" method="POST" name="customerForm">
        <div class="form-group">
          <label for="id">CODE</label>
          <input type="text" class="form-control" name="code"  placeholder="Code" readonly th:value="${customer.code}">
      <!--    <input type="hidden" name="code" th:value="${customer.code}"> -->
        </div>
        <div class="form-group">
          <label for="nome">NOME</label>
          <input type="text" class="form-control" name="nome"  placeholder="Nome" th:value="${customer.nome}">
        </div>
        <div class="form-group">
          <label for="sobrenome">SOBRENOME</label>
          <input type="text" class="form-control" name="sobrenome"  placeholder="Sobrenome" th:value="${customer.sobrenome}">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email"  placeholder="Email" th:value="${customer.email}">
        </div>
        <div class="form-group">
          <label for="rua">RUA</label>
          <input type="text" class="form-control" name="rua"  placeholder="Rua" th:value="${customer.rua}">
        </div>
        <div class="form-group">
          <label for="numero">NUMERO</label>
          <input type="number" class="form-control" name="numero"  placeholder="Numero" th:value="${customer.numero}">
        </div>
        <div class="form-group">
          <label for="complemento">COMPLEMENTO</label>
          <input type="text" class="form-control" name="complemento"  placeholder="Complemento" th:value="${customer.complemento}">
        </div>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" name="cep"  placeholder="Cep" th:value="${customer.cep}">
        </div>
        <div class="form-group">
          <label for="cidade">CIDADE</label>
          <input type="text" class="form-control" name="cidade"  placeholder="Cidade" th:value="${customer.cidade}">
        </div>
        <div class="form-group">
          <label for="estado">ESTADO</label>
          <input type="text" class="form-control" name="estado"  placeholder="Estado" th:value="${customer.estado}">
        </div>
        <div class="form-group">
          <label for="availableOnlineSelect">Status</label>
          <select class="form-control" th:field="*{customer.availableOnline}">
            <option th:value="true" th:text="Online"></option>
            <option th:value="false" th:text="Offline"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">SAVE</button>
        <a th:href="@{/customers}" class="btn btn-secondary text-white">BACK</a>
      </form>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>